body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1175px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:356px;
  width:825px;
  height:283px;
}
#u5943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:358px;
  width:816px;
  height:25px;
}
#u5944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:2px;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:77px;
  width:993px;
  height:1px;
}
#u5945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:59px;
  width:57px;
  height:16px;
}
#u5946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:48px;
  width:105px;
  height:1px;
}
#u5947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:48px;
  width:1px;
  height:29px;
}
#u5948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:188px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:188px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:188px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:188px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:214px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:214px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:240px;
  width:8px;
  height:16px;
  text-align:center;
}
#u5955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:240px;
  width:74px;
  height:16px;
  text-align:center;
}
#u5956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:214px;
  width:54px;
  height:16px;
  text-align:center;
}
#u5957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u5958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:240px;
  width:52px;
  height:16px;
  text-align:center;
}
#u5958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:266px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:240px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:240px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:266px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:266px;
  width:27px;
  height:16px;
  text-align:center;
}
#u5963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:362px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:413px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:413px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:413px;
  width:196px;
  height:16px;
  text-align:center;
}
#u5967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u5968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:413px;
  width:54px;
  height:16px;
  text-align:center;
}
#u5968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:462px;
  width:709px;
  height:100px;
}
#u5970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u5970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u5971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:82px;
  height:20px;
}
#u5971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u5972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:0px;
  width:94px;
  height:20px;
}
#u5972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u5973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:83px;
  height:20px;
}
#u5973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u5974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:0px;
  width:96px;
  height:20px;
}
#u5974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u5975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:106px;
  height:20px;
}
#u5975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:91px;
  height:20px;
}
#u5976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:0px;
  width:93px;
  height:20px;
}
#u5977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:64px;
  height:20px;
}
#u5978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u5979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:20px;
  width:82px;
  height:20px;
}
#u5979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u5980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:20px;
  width:94px;
  height:20px;
}
#u5980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u5981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:20px;
  width:83px;
  height:20px;
}
#u5981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u5982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:20px;
  width:96px;
  height:20px;
}
#u5982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u5983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:20px;
  width:106px;
  height:20px;
}
#u5983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u5984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:20px;
  width:91px;
  height:20px;
}
#u5984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u5985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:20px;
  width:93px;
  height:20px;
}
#u5985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u5986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:64px;
  height:20px;
}
#u5986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u5987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:40px;
  width:82px;
  height:20px;
}
#u5987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u5988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:40px;
  width:94px;
  height:20px;
}
#u5988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u5989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:83px;
  height:20px;
}
#u5989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u5990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:40px;
  width:96px;
  height:20px;
}
#u5990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:40px;
  width:106px;
  height:20px;
}
#u5991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u5992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:40px;
  width:91px;
  height:20px;
}
#u5992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u5993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:40px;
  width:93px;
  height:20px;
}
#u5993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u5994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:20px;
}
#u5994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:60px;
  width:82px;
  height:20px;
}
#u5995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u5996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:60px;
  width:94px;
  height:20px;
}
#u5996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u5997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:60px;
  width:83px;
  height:20px;
}
#u5997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u5998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:60px;
  width:96px;
  height:20px;
}
#u5998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:60px;
  width:106px;
  height:20px;
}
#u5999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:60px;
  width:91px;
  height:20px;
}
#u6000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u6001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:60px;
  width:93px;
  height:20px;
}
#u6001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u6002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:64px;
  height:20px;
}
#u6002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u6003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:80px;
  width:82px;
  height:20px;
}
#u6003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:80px;
  width:94px;
  height:20px;
}
#u6004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:83px;
  height:20px;
}
#u6005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u6006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:80px;
  width:96px;
  height:20px;
}
#u6006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:80px;
  width:106px;
  height:20px;
}
#u6007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:80px;
  width:91px;
  height:20px;
}
#u6008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u6009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:80px;
  width:93px;
  height:20px;
}
#u6009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u6010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:598px;
  width:71px;
  height:24px;
}
#u6010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u6011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:598px;
  width:71px;
  height:24px;
}
#u6011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:188px;
  width:53px;
  height:16px;
  text-align:center;
}
#u6012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:240px;
  width:27px;
  height:16px;
  text-align:center;
}
#u6013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:188px;
  width:53px;
  height:16px;
  text-align:center;
}
#u6014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:214px;
  width:27px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u6015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:240px;
  width:27px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u6016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:266px;
  width:61px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u6017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
